*{
    padding: 0%;
    margin: 0%;
        
}

header{
    padding-bottom: 8px;
    margin: 0px;
    height: 80px;
    width: 100%;
    background-color: white;
    
    
}
nav{
    width: 1259px;
    height: 60px;
    padding-bottom: 2px;
    
    

}

.Boton{
    
    padding-right: 1px;
    display: inline flex;
    width: 202px;
    height: 50px;
    background-color: forestgreen;
    color: white;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    
    
    
}
.Boton:hover{
    background-color: yellowgreen;
}

main{
    padding-top: 1px;
    height: 100%;
    width: 1260px;
    
    
}

#t3{
    background-color: yellowgreen;
}
#contenedor
{
    
    height: 400px;
    overflow: hidden;
    
}
.carrucel{
    padding: 1px solid black;
    height: 100%;
    position: relative;
    
}

.tarjeta{
    
    height: 100%;
}

.flechas{
    
    height: 78%;
    position: absolute;
    top: 0%;
    width: 1207px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px;
    
}

a{
    text-decoration: none;
}
i{
    color: white;
       
}

.foto11{
    height: 400px;
    width: 100%;
}
.foto22{
    height: 400px;
    width: 100%;
}
.foto33{
    height: 400px;
    width: 100%;
}
.logo{
    

    background-color: #004f6d;
    width: 1260px;
    height: 240px;

}
.logo img{
    float: left;
    padding-left: 300px;
    padding-right: 26px;
    height: 202px;
    padding-top: 10px;
}

.caja{
    color: white;
}

footer{
    height: 220px;
    width: 1260px;
    background-color: #0c241c;
    padding-top: 10px;
    
}
.texto01{
    padding-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    display: flex;
}
.deco{
    text-decoration: none;
    color: white;
}

.texto2{
    padding-left: 70px;
}
